# General
.DS_Store
.AppleDouble
.LSOverride
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
# Thumbnails
._*
# IDE
.idea
.project
.vs
# npm
node_modules
# Log files
*.log
#Debug
Debug
